/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  border-top:1em solid $gray-bg;
  margin-top:2em;
  position: fixed;

  @include breakpoint($s2){
    left:0;right:0;
    bottom:0;
    background: $gray-bg;
  }




  .row {
    border-top:8px solid $blue-linea;
    @include breakpoint($s1){
      
      padding:1em 0;
    }
    @include breakpoint($s2){
      padding:1em 0;
    }
    @include breakpoint($s3){
      padding:1em 4em;
    }
  }

  .widget {
    // padding:0.5em 1em;
    // @include breakpoint($s2){
    //   padding:1em 1em;
    //   width:33%;
    //   float:left;
    // }
  }
  



}
