/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  border-top:1em solid $gray-bg;
  margin-top:2em;
  background: $gray-bg;




  

  @include breakpoint($s2){
    left:0;right:0;
    bottom:0;
    margin-top:0;
    position: fixed;
    z-index: 11;
  }




  .row {
    border-top:8px solid $blue-linea;
    padding:1em 1em;
    @include breakpoint($s1){
      
      padding:1em 1em;
    }
    @include breakpoint($s2){
      padding:1em 1em;
    }
    @include breakpoint($s3){
      padding:1em 4em;
    }
  }

  .widget {
    // padding:0.5em 1em;
    // @include breakpoint($s2){
    //   padding:1em 1em;
    //   width:33%;
    //   float:left;
    // }
  }
  
.ion-social-facebook{
  font-size: 2em;
  display: inline-block;
  width:1em;
  height:1em;
  background-color: $blue-linea;
  color:#fff;
  text-align: center;
  &:hover,&:focus{
    color:$blue-linea;
    background-color: #fff;
  }
}


}
