.nav-main {
  position: relative;
  background: $blue-menu;
  margin-top:0.75em;

  .mtog {
    display: block;
    color:$white;
    text-align: center;
    text-transform:uppercase;
    line-height: 2.5em;
    font-weight: bold;
    font-family: sans-serif;

    &:hover, &:focus {
      background: rgba($blue-text,0.5);
      color:white;
      text-decoration: none;
     }  

    @include breakpoint($s2){
     display:none;
    }

  }

  ul.opened {
    height:auto;
    padding:0 0.5em 1em;
    @include breakpoint($s2){
      padding:0 0.5em;
    }
    @include breakpoint($s3){
      padding:0 0.5em;
      padding:0 4.5em;
    }
 }

  ul {
    list-style-type: none;
    padding:0 0.5em;
    margin:0;


    height:0;
    overflow: hidden;


    
    @include breakpoint($s2){
     padding:0 0.5em;
     height:auto;
     overflow: visible;
    }

    @include breakpoint($s3){
      padding:0 4.5em;
      height:auto;
      overflow: visible;
    }
    
    &.dropdown-menu {
      padding:0 0 0 0;
      margin-top: 0.4em;
      background-color: $blue-menu;
      transition: all .2s ease-in; 

      @include breakpoint($s2){
        position: absolute;
        z-index: 11;
        box-shadow: 0 0 1px 1px rgba($black,0.15);
        display: none;
      } 

      li {
        display: block;
        padding:0 0;
        a {
          margin:0 0;
          padding-left:1.5em;
          box-shadow: none !important;
          background-color: transparent !important;
          @include breakpoint($s2){
            padding-left:0.5em;
          }
          

          &:hover, &:focus {
            background-color: rgba($blue-text,0.5) !important;
          }
        }
      }
    }


  }

  .dropdown {
    @include breakpoint($s2){
       &:hover, &:focus {
        .dropdown-menu {
          display: block;
        }

       } 
    } 
  }

  li {

    
    @include breakpoint($s2){
      display: inline-block;
      padding-right: 0.75em;
    }
  }

  li a {
    position: relative;
    display: block;
    color: $white;
    font-weight: 700;
    line-height: 3em;
    padding:0 0.5em;

    text-shadow:1px 1px 1px $black;
    transition: background 200ms ease-in;
    
    @include breakpoint($s2){
      margin-top:-0.4em;
      margin-bottom: -0.4em;
    }
    
    
    &:hover, &:focus {
      background: rgba($blue-text,0.5);
      color:white;
      text-decoration: none;
      
      
      @include breakpoint($s2){
        box-shadow: 0 0 1px 1px rgba($black,0.15);
      }

    }

    &:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

  }

  li.active a{
      background: rgba($blue-text,0.5);
      color:white;
      text-decoration: none;
      @include breakpoint($s2){
        box-shadow: 0 0 1px 1px rgba($black,0.15);
      }
    }




}